<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Indian Curry</title>
    <link rel="stylesheet" href="/assests/stylesheet/stylesheet.css">
    <link rel="stylesheet" href="/assests/stylesheet/about.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">

</head>
<body>
  <% include partials/header.ejs %>
  <% include partials/user-navigation.ejs %>
  <% include partials/site-navigation.ejs %>
    <div class="about-container">
        <div class="about-content">
            Indian Curry is an authentic Indian Cusine Restaurant which serves Delicious Food to its customers. It is Situated in various places in United States and it is most popular in the Southern part of United States.
    </div>
  </div>
    <% include partials/footer.ejs %>
</body>
</html>
