<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Indian Curry</title>
    <link rel="stylesheet" href="/assests/stylesheet/stylesheet.css"/>
    <link rel="stylesheet" href="/assests/stylesheet/contact.css"/>
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <% include partials/header.ejs %>
  <% include partials/user-navigation.ejs %>
  <% include partials/site-navigation.ejs %>

            <div class="content-app">
            <address>
                <span class="brand"> The Indian Curry</span><br>
                Petaluma,CA, United States<br>
                Call Us At: 1234567<br>
                Ratings:<span class="fa fa-star rated"></span>
                        <span class="fa fa-star rated"></span>
                        <span class="fa fa-star rated"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
            </address>
            <br>
            <br>
            <address>
                <span class="brand"> The Indian Curry</span><br>
                Half Moon Bay, CA, United States<br>
                Call Us At: 1234567<br>
                Ratings:<span class="fa fa-star rated"></span>
                        <span class="fa fa-star rated"></span>
                        <span class="fa fa-star rated"></span>
                        <span class="fa fa-star rated"></span>
                        <span class="fa fa-star"></span>
                </address>
                <br>
                <br>
                <address>
                    <span class="brand"> The Indian Curry</span><br>
                        Napa, CA, United States<br>
                        Call Us At: 1234567<br>
                        Ratings:<span class="fa fa-star rated"></span>
                                <span class="fa fa-star rated"></span>
                                <span class="fa fa-star rated"></span>
                                <span class="fa fa-star "></span>
                                <span class="fa fa-star"></span>
                </address>
                </div>

      <% include partials/footer.ejs %>
    </body>
</html>
