<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Indian Curry</title>
    <link rel="stylesheet" href="/assests/stylesheet/stylesheet.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  
</head>
<body>
  <% include partials/header.ejs %>
  <% include partials/user-navigation.ejs %>
  <% include partials/site-navigation.ejs %>
    <div class="container">
        <h2>A Feast For Your Senses.</h2>
        <p> Here at Indian Curry, we offer you food that will give you both the please of street food and the richness of traditional authentic Indian food !</p>
		<p> Exploring a new ethinic cuisine can be intimidating to the inexperienced.Sometimes, trying an unfimiliar style of food is better when accompained by someone with a little bit of knowledge !</p>
    </div>

<% include partials/footer.ejs %>
</body>
</html>
